#background{
    background-color: black;
    text-align: center;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: normal;
    font-size: 50px;
    color:white;
    text-align:center;
}
.link{
    color:aquamarine;
    font-size: 16px;
}
#msg1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
}
#msg2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
footer{
    text-align: right;
    color: gray;

}